<?xml version="1.0" encoding="utf-8"?>
<odoo>  

    <!--  Menu principal -->

    <menuitem
      id="reservation_menu_root"
      name="Réservations"
      sequence="15"/>

    <!-- Menu hotels -->

    <menuitem
      id="reservation_hotel_list"
      name="Hôtels"
      action="hotel_action"
      parent="reservation_menu_root"
      sequence="4"/>



    <!-- Menu  chambres -->

    <menuitem
      id="room_reservation_menu"
      name="Chambres"
      action="room_action"
      parent="reservation_menu_root"
      sequence="6"/>

    <!-- Menu  réserver -->

    <menuitem
      id="reservation_menu"
      name="Réservations"
      action="reservation_action"
      parent="reservation_menu_root"
      sequence="8"/>

    <!-- Menu  clients -->

      <!-- <menuitem
      id="client_menu"
      name="Clients"
      action="customer_action"
      parent="reservation_menu_root"
      sequence="9"/> -->

      

</odoo>
